<a href="https://colab.research.google.com/github/Munu2022/Django-Assignment1/blob/main/Intro_pyth_sep8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Welcome to Python Session")

Welcome to Python Session

# data type in python
1. standard data type
  1. number
    1. int
    2. float
    3. complex
  2. string
  3. boolean

2. data structure data type
  1. set
  2.

In [ ]:
a = 10
print(a)
print(type(a))

10
<class 'int'>

In [ ]:
a = 10.2
print(a)
print(type(a))

10.2
<class 'float'>

In [ ]:
a = 10 + 2j
print(a)
print(type(a))

(10+2j)
<class 'complex'>

In [ ]:
a = True
print(a)
print(type(a))

True
<class 'bool'>

2. Data Structure Data type
  1. list
        use []
        it is mutable
  2. tuple
      use () 
      it is immutable
  3. set
      use {}
      values are suffled and cannot have dublicate value. set will automatically remove dublicate values and show only one value.
  4. Dictionary

1. append = a.is inbuilt fuction, it means adding in end.
         b.it will add item to list
  eg = a.append()

2. clear = clears the list
      eg. a.clear()

3. copy = makes copy
    eg. a_cp = a.copy()

4. count = count number of occarance
    eg a.count('e')

5. extend = add a list to list
    eg. a.extend([new list])
6. insert = insert in any place 
    eg. a.insert(3,'apple')
    on index potion 3 apple is added

    index position starts with 0 onwards, so 0,1,2,3,4,.... so on.

7. pop = it removes value
      it no index it will remove last value
      a.pop()
8. remove = remove fist occrance of that value
      a.remove('apple')

9. reverse = will print list in reverse order
     a. reverse()

Assinment: for tuble and set run above funtions