<a href="https://colab.research.google.com/github/Munu2022/Django-Assignment1/blob/main/oct2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [25]:
!pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.2.1)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [26]:
import pandas

In [27]:
import pandas as pd

In [28]:
lst1 = ['Mon','Tue','Wed','Thur','Fri','Sat','Sun']
print(lst1)
print(type(lst1))

['Mon', 'Tue', 'Wed', 'Thur', 'Fri', 'Sat', 'Sun']
<class 'list'>

In [29]:
df = pd.DataFrame(lst1)
print(df)

      0
0   Mon
1   Tue
2   Wed
3  Thur
4   Fri
5   Sat
6   Sun

In [30]:
tup1 = ('py','java','c','c++','pas','cobol','c#')
print(tup1)
print(type(tup1))

('py', 'java', 'c', 'c++', 'pas', 'cobol', 'c#')
<class 'tuple'>

In [31]:
df1 =pd.DataFrame(tup1)
print(df1)
print(type(df1))

       0
0     py
1   java
2      c
3    c++
4    pas
5  cobol
6     c#
<class 'pandas.core.frame.DataFrame'>

In [32]:
!pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.2.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [36]:
rating = [1,2,3,4,5,6,7]
df1[1]= rating
print(df1)

       0  1
0     py  1
1   java  2
2      c  3
3    c++  4
4    pas  5
5  cobol  6
6     c#  7

In [40]:
df1.columns= ['language','ratings']
print(df1)

  language  ratings
0       py        1
1     java        2
2        c        3
3      c++        4
4      pas        5
5    cobol        6
6       c#        7

In [51]:
dict1 = [{1:'jan',2:'feb',3:'mar',4:'apr',5:'may',6:'jun',7:'july'},{1:'winter',2:'winter',3:'spring',4:'spring',5:'spring',6:'summer',7:'summer'},{1:'do',2:'re',3:'me',4:'fa',5:'so',6:'la',7:'ti'}]
print(dict1)
print(type(dict1))

[{1: 'jan', 2: 'feb', 3: 'mar', 4: 'apr', 5: 'may', 6: 'jun', 7: 'july'}, {1: 'winter', 2: 'winter', 3: 'spring', 4: 'spring', 5: 'spring', 6: 'summer', 7: 'summer'}, {1: 'do', 2: 're', 3: 'me', 4: 'fa', 5: 'so', 6: 'la', 7: 'ti'}]
<class 'list'>

In [52]:
df2 = pd.DataFrame(dict1)
df2

        1       2       3       4       5       6       7
0     jan     feb     mar     apr     may     jun    july
1  winter  winter  spring  spring  spring  summer  summer
2      do      re      me      fa      so      la      ti

In [54]:
data= [{'a':1,'b':2},{'a':5,'b':10,'c':20}]
df2= pd.DataFrame(data)
df2

   a   b     c
0  1   2   NaN
1  5  10  20.0

index to add rows
coloums to add columns

In [57]:
df3 = pd.DataFrame(data, index=['row1','row2'], columns=['a','b','c'])
df3

      a   b     c
row1  1   2   NaN
row2  5  10  20.0

In [60]:
df3 = pd.DataFrame(data, index=['row1','row2'], columns=['a','b','c','d','sam'])
df3

      a   b     c   d  sam
row1  1   2   NaN NaN  NaN
row2  5  10  20.0 NaN  NaN

In [59]:
df9 = pd.DataFrame(data, index=['row1','row2'])
df9

      a   b     c
row1  1   2   NaN
row2  5  10  20.0

In [64]:
df1 = pd.DataFrame({'id':[1,2,3,4,5,],'name':['Ram','Sam','Ganesh','Sita','Gita']})
df1

   id    name
0   1     Ram
1   2     Sam
2   3  Ganesh
3   4    Sita
4   5    Gita

In [71]:
dates = pd.date_range(start='01-Jan-2021',end='30-June-2021')
dates

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
               '2021-01-05', '2021-01-06', '2021-01-07', '2021-01-08',
               '2021-01-09', '2021-01-10',
               ...
               '2021-06-21', '2021-06-22', '2021-06-23', '2021-06-24',
               '2021-06-25', '2021-06-26', '2021-06-27', '2021-06-28',
               '2021-06-29', '2021-06-30'],
              dtype='datetime64[ns]', length=181, freq='D')

In [72]:
len(dates)

181

In [68]:
dates = pd.date_range('today',periods=7)
dates

DatetimeIndex(['2022-10-03 00:51:30.189275', '2022-10-04 00:51:30.189275',
               '2022-10-05 00:51:30.189275', '2022-10-06 00:51:30.189275',
               '2022-10-07 00:51:30.189275', '2022-10-08 00:51:30.189275',
               '2022-10-09 00:51:30.189275'],
              dtype='datetime64[ns]', freq='D')

In [77]:
dates =pd.date_range(start='03-oct-2020',periods=10)
dates

DatetimeIndex(['2020-10-03', '2020-10-04', '2020-10-05', '2020-10-06',
               '2020-10-07', '2020-10-08', '2020-10-09', '2020-10-10',
               '2020-10-11', '2020-10-12'],
              dtype='datetime64[ns]', freq='D')

In [73]:
import numpy as np

In [74]:
a= np.random.random((10,10))
a

array([[0.4479475 , 0.15105219, 0.99898396, 0.10310819, 0.872898  ,
        0.86794894, 0.54053931, 0.99975149, 0.43843757, 0.78457557],
       [0.8641695 , 0.72036858, 0.95151471, 0.74283621, 0.6085199 ,
        0.29315366, 0.94328218, 0.55873925, 0.50326763, 0.20848677],
       [0.50432508, 0.04328604, 0.39897812, 0.41313653, 0.04675883,
        0.17991015, 0.73949323, 0.28468199, 0.9853153 , 0.01830065],
       [0.93886644, 0.57930173, 0.11903512, 0.19743124, 0.14707678,
        0.24964328, 0.40241575, 0.46495481, 0.28232984, 0.31768692],
       [0.5054782 , 0.23743577, 0.57485427, 0.09672037, 0.26907832,
        0.21284351, 0.86539932, 0.52362422, 0.89978237, 0.07212162],
       [0.52459309, 0.57482805, 0.84664703, 0.97204609, 0.82313354,
        0.58122804, 0.35350904, 0.43513723, 0.8189399 , 0.296171  ],
       [0.9502302 , 0.50085723, 0.39223624, 0.925706  , 0.37636564,
        0.89897065, 0.37548881, 0.09779035, 0.60994589, 0.51912364],
       [0.77891311, 0.26948163, 0.82718334, 0.60264347, 0.52227443,
        0.46197726, 0.18171375, 0.43039112, 0.74201803, 0.92619137],
       [0.567808  , 0.71519035, 0.42238077, 0.47452524, 0.01694994,
        0.96011977, 0.50592347, 0.06861018, 0.78092965, 0.50515952],
       [0.90158539, 0.74491895, 0.6703287 , 0.09375014, 0.53082708,
        0.95974515, 0.60212528, 0.82092071, 0.76518715, 0.67738998]])

In [79]:
df = pd.DataFrame(a,index=dates)
df

,0,1,2,3,4,5,6,7,8,9
2020-10-03,0.447948,0.151052,0.998984,0.103108,0.872898,0.867949,0.540539,0.999751,0.438438,0.784576
2020-10-04,0.864169,0.720369,0.951515,0.742836,0.608520,0.293154,0.943282,0.558739,0.503268,0.208487
2020-10-05,0.504325,0.043286,0.398978,0.413137,0.046759,0.179910,0.739493,0.284682,0.985315,0.018301
2020-10-06,0.938866,0.579302,0.119035,0.197431,0.147077,0.249643,0.402416,0.464955,0.282330,0.317687
2020-10-07,0.505478,0.237436,0.574854,0.096720,0.269078,0.212844,0.865399,0.523624,0.899782,0.072122
2020-10-08,0.524593,0.574828,0.846647,0.972046,0.823134,0.581228,0.353509,0.435137,0.818940,0.296171
2020-10-09,0.950230,0.500857,0.392236,0.925706,0.376366,0.898971,0.375489,0.097790,0.609946,0.519124
2020-10-10,0.778913,0.269482,0.827183,0.602643,0.522274,0.461977,0.181714,0.430391,0.742018,0.926191
2020-10-11,0.567808,0.715190,0.422381,0.474525,0.016950,0.960120,0.505923,0.068610,0.780930,0.505160
2020-10-12,0.901585,0.744919,0.670329,0.093750,0.530827,0.959745,0.602125,0.820921,0.765187,0.677390

In [82]:
df.columns=(['col1','col2','col3','col4','col5','col6','col7','col8','col9','col10'])
df

,col1,col2,col3,col4,col5,col6,col7,col8,col9,col10
2020-10-03,0.447948,0.151052,0.998984,0.103108,0.872898,0.867949,0.540539,0.999751,0.438438,0.784576
2020-10-04,0.864169,0.720369,0.951515,0.742836,0.608520,0.293154,0.943282,0.558739,0.503268,0.208487
2020-10-05,0.504325,0.043286,0.398978,0.413137,0.046759,0.179910,0.739493,0.284682,0.985315,0.018301
2020-10-06,0.938866,0.579302,0.119035,0.197431,0.147077,0.249643,0.402416,0.464955,0.282330,0.317687
2020-10-07,0.505478,0.237436,0.574854,0.096720,0.269078,0.212844,0.865399,0.523624,0.899782,0.072122
2020-10-08,0.524593,0.574828,0.846647,0.972046,0.823134,0.581228,0.353509,0.435137,0.818940,0.296171
2020-10-09,0.950230,0.500857,0.392236,0.925706,0.376366,0.898971,0.375489,0.097790,0.609946,0.519124
2020-10-10,0.778913,0.269482,0.827183,0.602643,0.522274,0.461977,0.181714,0.430391,0.742018,0.926191
2020-10-11,0.567808,0.715190,0.422381,0.474525,0.016950,0.960120,0.505923,0.068610,0.780930,0.505160
2020-10-12,0.901585,0.744919,0.670329,0.093750,0.530827,0.959745,0.602125,0.820921,0.765187,0.677390

In [83]:
df.index

DatetimeIndex(['2020-10-03', '2020-10-04', '2020-10-05', '2020-10-06',
               '2020-10-07', '2020-10-08', '2020-10-09', '2020-10-10',
               '2020-10-11', '2020-10-12'],
              dtype='datetime64[ns]', freq='D')

In [84]:
df.columns

Index(['col1', 'col2', 'col3', 'col4', 'col5', 'col6', 'col7', 'col8', 'col9',
       'col10'],
      dtype='object')

In [85]:
df.dtypes

col1     float64
col2     float64
col3     float64
col4     float64
col5     float64
col6     float64
col7     float64
col8     float64
col9     float64
col10    float64
dtype: object

In [86]:
df.isnull()

,col1,col2,col3,col4,col5,col6,col7,col8,col9,col10
2020-10-03,False,False,False,False,False,False,False,False,False,False
2020-10-04,False,False,False,False,False,False,False,False,False,False
2020-10-05,False,False,False,False,False,False,False,False,False,False
2020-10-06,False,False,False,False,False,False,False,False,False,False
2020-10-07,False,False,False,False,False,False,False,False,False,False
2020-10-08,False,False,False,False,False,False,False,False,False,False
2020-10-09,False,False,False,False,False,False,False,False,False,False
2020-10-10,False,False,False,False,False,False,False,False,False,False
2020-10-11,False,False,False,False,False,False,False,False,False,False
2020-10-12,False,False,False,False,False,False,False,False,False,False

In [87]:
df.sort_values(by='col1')

,col1,col2,col3,col4,col5,col6,col7,col8,col9,col10
2020-10-03,0.447948,0.151052,0.998984,0.103108,0.872898,0.867949,0.540539,0.999751,0.438438,0.784576
2020-10-05,0.504325,0.043286,0.398978,0.413137,0.046759,0.179910,0.739493,0.284682,0.985315,0.018301
2020-10-07,0.505478,0.237436,0.574854,0.096720,0.269078,0.212844,0.865399,0.523624,0.899782,0.072122
2020-10-08,0.524593,0.574828,0.846647,0.972046,0.823134,0.581228,0.353509,0.435137,0.818940,0.296171
2020-10-11,0.567808,0.715190,0.422381,0.474525,0.016950,0.960120,0.505923,0.068610,0.780930,0.505160
2020-10-10,0.778913,0.269482,0.827183,0.602643,0.522274,0.461977,0.181714,0.430391,0.742018,0.926191
2020-10-04,0.864169,0.720369,0.951515,0.742836,0.608520,0.293154,0.943282,0.558739,0.503268,0.208487
2020-10-12,0.901585,0.744919,0.670329,0.093750,0.530827,0.959745,0.602125,0.820921,0.765187,0.677390
2020-10-06,0.938866,0.579302,0.119035,0.197431,0.147077,0.249643,0.402416,0.464955,0.282330,0.317687
2020-10-09,0.950230,0.500857,0.392236,0.925706,0.376366,0.898971,0.375489,0.097790,0.609946,0.519124

In [88]:
df.sort_values(by='col1',ascending=False)

,col1,col2,col3,col4,col5,col6,col7,col8,col9,col10
2020-10-09,0.950230,0.500857,0.392236,0.925706,0.376366,0.898971,0.375489,0.097790,0.609946,0.519124
2020-10-06,0.938866,0.579302,0.119035,0.197431,0.147077,0.249643,0.402416,0.464955,0.282330,0.317687
2020-10-12,0.901585,0.744919,0.670329,0.093750,0.530827,0.959745,0.602125,0.820921,0.765187,0.677390
2020-10-04,0.864169,0.720369,0.951515,0.742836,0.608520,0.293154,0.943282,0.558739,0.503268,0.208487
2020-10-10,0.778913,0.269482,0.827183,0.602643,0.522274,0.461977,0.181714,0.430391,0.742018,0.926191
2020-10-11,0.567808,0.715190,0.422381,0.474525,0.016950,0.960120,0.505923,0.068610,0.780930,0.505160
2020-10-08,0.524593,0.574828,0.846647,0.972046,0.823134,0.581228,0.353509,0.435137,0.818940,0.296171
2020-10-07,0.505478,0.237436,0.574854,0.096720,0.269078,0.212844,0.865399,0.523624,0.899782,0.072122
2020-10-05,0.504325,0.043286,0.398978,0.413137,0.046759,0.179910,0.739493,0.284682,0.985315,0.018301
2020-10-03,0.447948,0.151052,0.998984,0.103108,0.872898,0.867949,0.540539,0.999751,0.438438,0.784576

In [89]:
df.sort_values(by='col1',ascending=True)

,col1,col2,col3,col4,col5,col6,col7,col8,col9,col10
2020-10-03,0.447948,0.151052,0.998984,0.103108,0.872898,0.867949,0.540539,0.999751,0.438438,0.784576
2020-10-05,0.504325,0.043286,0.398978,0.413137,0.046759,0.179910,0.739493,0.284682,0.985315,0.018301
2020-10-07,0.505478,0.237436,0.574854,0.096720,0.269078,0.212844,0.865399,0.523624,0.899782,0.072122
2020-10-08,0.524593,0.574828,0.846647,0.972046,0.823134,0.581228,0.353509,0.435137,0.818940,0.296171
2020-10-11,0.567808,0.715190,0.422381,0.474525,0.016950,0.960120,0.505923,0.068610,0.780930,0.505160
2020-10-10,0.778913,0.269482,0.827183,0.602643,0.522274,0.461977,0.181714,0.430391,0.742018,0.926191
2020-10-04,0.864169,0.720369,0.951515,0.742836,0.608520,0.293154,0.943282,0.558739,0.503268,0.208487
2020-10-12,0.901585,0.744919,0.670329,0.093750,0.530827,0.959745,0.602125,0.820921,0.765187,0.677390
2020-10-06,0.938866,0.579302,0.119035,0.197431,0.147077,0.249643,0.402416,0.464955,0.282330,0.317687
2020-10-09,0.950230,0.500857,0.392236,0.925706,0.376366,0.898971,0.375489,0.097790,0.609946,0.519124

In [99]:
del df['col9']

In [100]:
df

,col1,col2,col4,col5,col6,col7,col10
2020-10-03,0.447948,0.151052,0.103108,0.872898,0.867949,0.540539,0.784576
2020-10-04,0.864169,0.720369,0.742836,0.608520,0.293154,0.943282,0.208487
2020-10-05,0.504325,0.043286,0.413137,0.046759,0.179910,0.739493,0.018301
2020-10-06,0.938866,0.579302,0.197431,0.147077,0.249643,0.402416,0.317687
2020-10-07,0.505478,0.237436,0.096720,0.269078,0.212844,0.865399,0.072122
2020-10-08,0.524593,0.574828,0.972046,0.823134,0.581228,0.353509,0.296171
2020-10-09,0.950230,0.500857,0.925706,0.376366,0.898971,0.375489,0.519124
2020-10-10,0.778913,0.269482,0.602643,0.522274,0.461977,0.181714,0.926191
2020-10-11,0.567808,0.715190,0.474525,0.016950,0.960120,0.505923,0.505160
2020-10-12,0.901585,0.744919,0.093750,0.530827,0.959745,0.602125,0.677390

del df to delete whole dataframe

there no undo, so run these command carefully

In [101]:
df_cp = df.copy()
df_cp

,col1,col2,col4,col5,col6,col7,col10
2020-10-03,0.447948,0.151052,0.103108,0.872898,0.867949,0.540539,0.784576
2020-10-04,0.864169,0.720369,0.742836,0.608520,0.293154,0.943282,0.208487
2020-10-05,0.504325,0.043286,0.413137,0.046759,0.179910,0.739493,0.018301
2020-10-06,0.938866,0.579302,0.197431,0.147077,0.249643,0.402416,0.317687
2020-10-07,0.505478,0.237436,0.096720,0.269078,0.212844,0.865399,0.072122
2020-10-08,0.524593,0.574828,0.972046,0.823134,0.581228,0.353509,0.296171
2020-10-09,0.950230,0.500857,0.925706,0.376366,0.898971,0.375489,0.519124
2020-10-10,0.778913,0.269482,0.602643,0.522274,0.461977,0.181714,0.926191
2020-10-11,0.567808,0.715190,0.474525,0.016950,0.960120,0.505923,0.505160
2020-10-12,0.901585,0.744919,0.093750,0.530827,0.959745,0.602125,0.677390

In [104]:
dict1 = {'A': pd.Series([11,22,33,44,55],index=['a','b','c','d','g']),'B': pd.Series([11,22,33,44,55],index=['a','b','c','d','g'])}

In [105]:
df1 = pd.DataFrame(dict1)
df1

    A   B
a  11  11
b  22  22
c  33  33
d  44  44
g  55  55

In [107]:
df1.drop(['A'],axis=1, inplace=True)#axis 1 is column  and axis 0 =row, inplace makes it premanent

In [108]:
df1

    B
a  11
b  22
c  33
d  44
g  55