<a href="https://colab.research.google.com/github/Munu2022/Django-Assignment1/blob/main/sep18.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
for i in range(0,10,1):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [2]:
for i in range(0,10,1):
  print(i, end=', ')# '\n' replced with ', '

0, 1, 2, 3, 4, 5, 6, 7, 8, 9,

In [3]:
str1 = "Python Programming " 
for  i in str1:
  print(i, end=', ')

P, y, t, h, o, n,  , P, r, o, g, r, a, m, m, i, n, g,  ,

In [11]:
lst1 = [aaples, banana, orange, cheery]
  print(i, end=', ')

IndentationError: ignored

In [10]:

dict1 = {'Andhra Pradesh':'Amaravati',
       'Arunachal Pradesh':'Itanagar','Assam':'Dispur','Bihar':'Patna','Chhattisgarh':'Raipur','Goa':'Panaji','Gujarat':'Gandhinagar'}​​​

for  i in dict1.items():
  print(i, end=', ')

SyntaxError: ignored

In [14]:
lst1 =[apples, banana, orange, cheery]
for i in lst1:
  print(i, end=', ')
  if i == 'banana':
    print('Momkey', ', ')

NameError: ignored

In [17]:
list1 = ['app','bana','cherr','orange']#replace bana with monkey
for i in list1:
  if i == 'bana':
    print('monkey',', ')
  else:
    print(i, end=', ')

app, monkey ,
cherr, orange,

In [19]:
tup1 = ('Ahmednagar','Akola','Amravati','Aurangabad','Beed','Bhandara','Buldhana','Chandrapur')
for i in tup1:
  if i == 'Beed':
    print('Who',', ')
  else:
    print(i, end=', ')

Ahmednagar, Akola, Amravati, Aurangabad, Who ,
Bhandara, Buldhana, Chandrapur,

Break, continue ,pass

In [22]:
list1 = ['app','bana','cherr','orange']
for i in list1:
  if (i == 'cherr'):
    break
  else:
    print(i, end=', ')

app, bana,

In [23]:
list1 = ['app','bana','cherr','orange']
for i in list1:
  if (i == 'cherr'):
    continue 
  else:
    print(i, end=', ')

app, bana, orange,

In [24]:
list1 = ['app','bana','cherr','orange']
for i in list1:
  pass # just draw structure of code, it will avoid error message

wirte a program to display ten *
using for loop

In [27]:
for i in range (0,10):
  print('*',end='')

**********

In [29]:
for i in range(0,10):
  for j in range(0,10):
    print(i, '-',j,end=', ')
  print()

0 - 0, 0 - 1, 0 - 2, 0 - 3, 0 - 4, 0 - 5, 0 - 6, 0 - 7, 0 - 8, 0 - 9,
1 - 0, 1 - 1, 1 - 2, 1 - 3, 1 - 4, 1 - 5, 1 - 6, 1 - 7, 1 - 8, 1 - 9,
2 - 0, 2 - 1, 2 - 2, 2 - 3, 2 - 4, 2 - 5, 2 - 6, 2 - 7, 2 - 8, 2 - 9,
3 - 0, 3 - 1, 3 - 2, 3 - 3, 3 - 4, 3 - 5, 3 - 6, 3 - 7, 3 - 8, 3 - 9,
4 - 0, 4 - 1, 4 - 2, 4 - 3, 4 - 4, 4 - 5, 4 - 6, 4 - 7, 4 - 8, 4 - 9,
5 - 0, 5 - 1, 5 - 2, 5 - 3, 5 - 4, 5 - 5, 5 - 6, 5 - 7, 5 - 8, 5 - 9,
6 - 0, 6 - 1, 6 - 2, 6 - 3, 6 - 4, 6 - 5, 6 - 6, 6 - 7, 6 - 8, 6 - 9,
7 - 0, 7 - 1, 7 - 2, 7 - 3, 7 - 4, 7 - 5, 7 - 6, 7 - 7, 7 - 8, 7 - 9,
8 - 0, 8 - 1, 8 - 2, 8 - 3, 8 - 4, 8 - 5, 8 - 6, 8 - 7, 8 - 8, 8 - 9,
9 - 0, 9 - 1, 9 - 2, 9 - 3, 9 - 4, 9 - 5, 9 - 6, 9 - 7, 9 - 8, 9 - 9,

In [41]:
a =10
for i in range(0,10):
  for j in range(0,10):
    print('*',end='')
  print()

**********
**********
**********
**********
**********
**********
**********
**********
**********
**********

In [42]:

for i in range(0,10):
  for j in range(0,i):
    print('*',end='')
  print()

*
**
***
****
*****
******
*******
********
*********

In [47]:
for i in range(10,0,-1):
  for j in range(0,i):
    
    print('*',end='')
  print()

**********
*********
********
*******
******
*****
****
***
**
*

In [52]:
for i in range(0,5):
  for j in range(5-i,1,-1):
    print('^',end='')
  for k in range (0,i+1):
    print('*',end='')
  print()

^^^^*
^^^**
^^***
^****
*****