<a href="https://colab.research.google.com/github/Munu2022/Django-Assignment1/blob/main/sep19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for i in range (0,11):
  for j in range (0,i):
    if j+1 == 10:
      print(0,end='')
    else:
      print(j+1, end='')
    
  print()

1
12
123
1234
12345
123456
1234567
12345678
123456789
1234567890

In [ ]:
for i in range (0,11):
  for j in range (0,i):
    print(1,end='')
  print()

1
11
111
1111
11111
111111
1111111
11111111
111111111
1111111111

In [ ]:
for i in range (0,11):
  for j in range (0,i):
    print('*',end='')
  print()

*
**
***
****
*****
******
*******
********
*********
**********

In [ ]:
for i in range (10,0,-1):
  for j in range (i,0,-1):
    print('*',end=' ')
  print()

* * * * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [62]:
for i in range (0,10):
  for j in range(0,i):
    print(' ',end='')
  for k in range (i+1,10):
    print('*',end='')
  print()

*********
 ********
  *******
   ******
    *****
     ****
      ***
       **
        *

In [79]:
for i in range (0,10):
  for j in range (9-i,0,-1):
    print(' ',end='')
  for k in range (0,i):
    print('*',end='')
  print()

        *
       **
      ***
     ****
    *****
   ******
  *******
 ********
*********

In [60]:
for i in range (10,0,-1):
  for j in range (0, i):
    print(' ',end='')
  for k in range (i+1, 10):
    print('*',end='')
  print()

        *
       **
      ***
     ****
    *****
   ******
  *******
 ********

In [35]:
for i in range (0,10):
  for j in range (10-i,0,-1):
    print(' ',end='')
  for k in range(0,i+1):
     print('*',end=' ')
    
  print()

          *
         * *
        * * *
       * * * *
      * * * * *
     * * * * * *
    * * * * * * *
   * * * * * * * *
  * * * * * * * * *
 * * * * * * * * * *

In [80]:
for i in range (0,10):
  for j in range(0,i):
    print(' ',end='')
  for k in range (i+1,10):
    print('*',end=' ')
  print()

* * * * * * * * *
 * * * * * * * *
  * * * * * * *
   * * * * * *
    * * * * *
     * * * *
      * * *
       * *
        *

In [41]:
for i in range (0,10):
  for x in range (9-i,0,-1):
    print (' ', end='')
  for j in range (1,i+2):
    if j == 10:
      print (0,end='')
    else:
      print(j,end='')
  for k in range (i,0,-1):
    print (k, end='')
  print()

         1
        121
       12321
      1234321
     123454321
    12345654321
   1234567654321
  123456787654321
 12345678987654321
1234567890987654321

In [46]:
for i in range (11,0,-1):
  for x in range (0,11-i):
    print(' ', end='')
  for j in range (1,i):
    if j == 10:
      print(0,end='')
    else:
       print(j,end='')
  for k in range (i-2,0,-1):
    print(k, end='')
  
  print()

1234567890987654321
 12345678987654321
  123456787654321
   1234567654321
    12345654321
     123454321
      1234321
       12321
        121
         1