<a href="https://colab.research.google.com/github/Munu2022/Django-Assignment1/blob/main/sep29.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Data or data set - use Pandas library
2. Numeric operations- Numpy
3. Visualize Data- matplotlib,seaborn
4.

In [1]:
!pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.2.1)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [2]:
import pandas

In [3]:
import pandas as pd

#**Python Pandas**

1. **Series:** associated with single dimensional data. eg. list,tuple, set
2. **Dataframe:** deals with n dimensional data.

In [4]:
lst1 = [1,2,3,4,5,6,7,89] #creating series
s1 = pd.Series(lst1)

In [7]:
print(s1)
print(type(s1))

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7    89
dtype: int64
<class 'pandas.core.series.Series'>

In [17]:
tup1 = {1,2,3,4,5,6,7,89} #creating series
s2 = pd.Series(tup1). #no index in set

TypeError: ignored

In [13]:
print(s2)
print(type(s2))

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7    89
dtype: int64
<class 'pandas.core.series.Series'>

In [16]:
import numpy as np
v = np.array([1,2,3,4,5,6,7,8,9])
s3=pd.Series(v)
print(s3)
print(type(s2))

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64
<class 'pandas.core.series.Series'>

In [22]:
for  i in range(0, len(s3)):
  print(s3[i])

1
2
3
4
5
6
7
8
9

In [23]:
arr1 = np.array(['a','s','d','f','g','h','j'])
s1 = pd.Series(arr1)
lst1= ['apple','banana','pineapple','cherry','amala','kafal']
s2 = pd.Series(lst1)
tup1= (1,2,3,4,5,6,7,89)
s3= pd.Series(tup1)

In [24]:
print(s1,s2,s3)

0    a
1    s
2    d
3    f
4    g
5    h
6    j
dtype: object 0        apple
1       banana
2    pineapple
3       cherry
4        amala
5        kafal
dtype: object 0     1
1     2
2     3
3     4
4     5
5     6
6     7
7    89
dtype: int64

In [25]:
print(type(s1))
print(type(s2))
print(type(s3))

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

In [26]:
s1.dtype

dtype('O')

In [27]:
s2.dtype

dtype('O')

In [28]:
s3.dtype

dtype('int64')

In [29]:
s1.items, s2.items, s3.items

(<bound method Series.items of 0    a
 1    s
 2    d
 3    f
 4    g
 5    h
 6    j
 dtype: object>, <bound method Series.items of 0        apple
 1       banana
 2    pineapple
 3       cherry
 4        amala
 5        kafal
 dtype: object>, <bound method Series.items of 0     1
 1     2
 2     3
 3     4
 4     5
 5     6
 6     7
 7    89
 dtype: int64>)

In [30]:
s1.nbytes,s2.nbytes, s3.nbytes

(56, 48, 64)

In [31]:
s1.shape,s2.shape,s3.shape

((7,), (6,), (8,))

In [32]:
s1.ndim,s2.ndim,s3.ndim

(1, 1, 1)

In [33]:
len(s1),len(s2),len(s3)

(7, 6, 8)

In [36]:
s1.count(),s2.count(), s3.count()

(7, 6, 8)

In [37]:
s1.size,s2.size,s3.size

(7, 6, 8)

In [38]:
s1

0    a
1    s
2    d
3    f
4    g
5    h
6    j
dtype: object

In [40]:
s1.index = [22,33,44,55,66,77,88]

In [41]:
s1

22    a
33    s
44    d
55    f
66    g
77    h
88    j
dtype: object

In [42]:
dict1 = {'a':'apple','b': 'ball','c':'car','d':'dart'}
s5= pd.Series(dict1)
s5

a    apple
b     ball
c      car
d     dart
dtype: object

In [43]:
dict1 = {'a1!':'apple','b2@': 'ball','c3#':'car','d4$':'dart'}
s5= pd.Series(dict1)
s5

a1!    apple
b2@     ball
c3#      car
d4$     dart
dtype: object

In [45]:
print(dict1['a1!'])
print(dict1['b2@'])
print(dict1['c3#'])
print(dict1['d4$'])

apple
ball
car
dart