<a href="https://colab.research.google.com/github/Munu2022/Django-Assignment1/blob/main/sep21.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

user defined funtions

# syntx: def fun_name(parameters):
        # statement
        return expression

In [2]:
print('my name is Anthony Gonsalves')

my name is Anthony Gonsalves

In [3]:
def my_name():
  print('my name is Anthony Gonsalves')

call funtion

In [4]:
my_name()

my name is Anthony Gonsalves

In [7]:
def my_name(fname,lname):
  print('my name is', fname,'', lname)

In [8]:
my_name('Ram','Sharma')

my name is Ram  Sharma

In [9]:
def sumup(var1, var2):
  print(var1 + var2)

In [10]:
sumup(11,22)

33

in python language we do not provide data type , it is automatically assigned during run time.

. due to this property **python is **known as **dynamically typed language **.

In [17]:
def student_info(fname,lname,age,gender,stream):
  print('First Name:',fname,'\n','Second Name:',lname,'\n','Age:',age,'\n','Gender:',gender,'\n','Stream:',stream)

In [18]:
student_info('Ram','Ghimire',22.3,'M','PCM')

First Name: Ram
 Second Name: Ghimire
 Age: 22.3
 Gender: M
 Stream: PCM

In [24]:
def student_info(fname,lname,yob,g_income):
  print('First Name:',fname,'\n','Second Name:',lname,'\n','Age:',2022-yob,'\n','Income after Taxes:',g_income*0.45)

In [25]:
student_info('Ram','Ghimire',1980,200000)

First Name: Ram
 Second Name: Ghimire
 Age: 42
 Income after Taxes: 90000.0

In [28]:
def simp_int(prin, tim, inte):
  print((prin*tim*inte)/100)

In [29]:
simp_int(20000000,10,8.6)

17200000.0

In [40]:
name1=['Ram','Dev','Hari','Sam','DD','TJ','Mark','Joe','Don','Jeff']
percentage=[90,80,88,70,60,50,77,34,56,99]

In [49]:
def result1(name1,percentage):
  if percentage  <50:
    print(name1, "has failed")
  elif percentage  <65:
    print(name1, 'has Second Division ')
  elif percentage  <80:
     print(name1, 'has first Division ')
  else:
     print(name1, 'has Distinction ')

In [50]:
for i in range(0,10):
  result1(name[i],percentage [i])

Ram has Distinction
Dev has Distinction
Hari has Distinction
Sam has first Division
DD has Second Division
TJ has Second Division
Mark has first Division
Joe has failed
Don has Second Division
Jeff has Distinction

*args---non key argument
**kwargs -- key argument

In [55]:
def my_program(*args):
  for i in args:
    print(i,end=' ')

(*args)can dynamically capture increasing values.

In [56]:
my_program('my','name','is','Sam','parsad')

my name is Sam parsad

In [57]:
my_program('Usa','is','my','country','All','Americans','are','silbings')

Usa is my country All Americans are silbings

In [58]:
my_program('hi')

hi

In [64]:
my_program(1.2,3,4,True,'Sam',[1,2,3,4,6],{23,45,67,78},{'a':2,'e':4})

1.2 3 4 True Sam [1, 2, 3, 4, 6] {67, 45, 78, 23} {'a': 2, 'e': 4}